*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url("mini\ project.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one{
    font-size: 30px;
    font-weight:700;
    position: absolute;
    left: 15px;
}