div{
    height: 80px;
    width: 80px;
    background-color: pink;
    border: 10px;
    border-style: ridge;
    margin:0 auto;
    padding-left: 10px;
    padding-right: 10px;
    transition: margin-top 2s ease-in ;
}
div:hover{
    background-color: darkolivegreen;
    border-color: chocolate;
    margin-top:400px;
}
